.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.foto {
  width: 100%;
  height: auto;
}

.blauwe-achtergrond{
  background-color: #143447 !important;
  color:  #ffffff !important;
}

.blauwe-letters{
  color: #143447;
}

.rode-achtergrond{
  background-color: #ff0763;
  color: #ffffff !important;
}

.rode-letters{
  color: #ff0763;
}

.witte-letters .dropdown-item {
  color: #ffffff !important;
}

nav a {
  color: #ffffff !important;
}

.witte-achtergrond {
  background-color: #ffffff;
  color: #143447;
}

/* .projectlijst {
  background-color: #143447;
} */

.navbar .dropdown-menu {
    border: 3px solid #ff0763 !important;
    border-radius: 4px;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    color: #ff0763 !important;
    background-color: rgba(255, 7, 99, 0.1);
}
.dropdown-menu .dropdown-item.active {
  background-color: #ff0763 !important;
  color: #ffffff;
}

#projectlijst {
    border: 3px solid #ff0763;
    border-radius: 4px;
    padding: 0;
    list-style: none;
}

#projectlijst .list-group-item {
    color: #ffffff !important;
    background-color: #143447;
    border: none;
}

#projectlijst .list-group-item:hover,
#projectlijst .list-group-item:focus {
    color: #ff0763 !important;
    background-color: rgba(255, 7, 99, 0.1);
}

#projectlijst .list-group-item.active {
    background-color: #ff0763 !important;
    color: #ffffff !important;
}
